# Ignore node_modules directory
node_modules/

# Ignore any files in the ClientDownloads directory
ClientDownloads/*

# Ignore any files in the savedFiles directory
savedFiles/*

#ignore any files in usr
usr/*

# Ignore any log files
*.log

# Ignore any temporary files
*.tmp
# ignore package-lock
package-lock.json